@import "_normalize";
@import url(https://fonts.googleapis.com/css?family=PT+Serif+Caption|PT+Serif);
$orange: #f58220;
$grey:#5b5e5e;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
      }
@mixin background-size($word) {
  -webkit-background-size: $word;
     -moz-background-size: $word;
      -ms-background-size: $word;
          background-size: $word;
}
.dear_table_wrap_btn{
	margin-left: 23%;
	padding: 5px 25px;
	border: 2px;
	color: #fff;
	text-transform: uppercase;
	@include border-radius(4px);
	background-image: -o-linear-gradient(bottom, #FFC234 0%, #FAA11A 100%);
	background-image: -moz-linear-gradient(bottom, #FFC234 0%, #FAA11A 100%);
	background-image: -webkit-linear-gradient(bottom, #FFC234 0%, #FAA11A 100%);
	background-image: -ms-linear-gradient(bottom, #FFC234 0%, #FAA11A 100%);
	background-image: linear-gradient(to bottom, #FFC234 0%, #FAA11A 100%);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFC234),
		color-stop(1, #FAA11A)
	);
	&:hover{
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.01, #FFC234),
			color-stop(0.63, #FAA11A)
		);
		background-image: -o-linear-gradient(top, #FFC234 1%, #FAA11A 63%);
		background-image: -moz-linear-gradient(top, #FFC234 1%, #FAA11A 63%);
		background-image: -webkit-linear-gradient(top, #FFC234 1%, #FAA11A 63%);
		background-image: -ms-linear-gradient(top, #FFC234 1%, #FAA11A 63%);
		background-image: linear-gradient(to top, #FFC234 1%, #FAA11A 63%);
	}
}
.main_footer_form_submit{
	background: transparent;
	margin-left: 7%;
	width: 14%;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    margin-top: 8px;
    @include border-radius(2px);
    &:hover{
    	background: #fff;
    	color: #000;
    }
}
body{
	margin: 0 auto;
	width: 1280px;
    position: relative;
	.header{
		width: 100%;
		height: 100px;
		background: #fff;
		.header_logo{
			border: 0;
    		margin: 20px 4%;
		}
		nav{
			float: right;
			width: 55%;
    		margin-right: 2%;
			.header_nav{
				width: 100%;
    			margin-top: 30px;
				.header_nav_li{
					display: inline-block;
					color: #656867;
					margin-right: 4%;
					&:hover{
						color: $orange;
					}
				}
				#header_nav_partner{
					border: 1px solid #fff;
    				padding:7px 13px;
    				@include border-radius(4px);
					background-image: -webkit-gradient(
						linear,
						left top,
						left bottom,
						color-stop(0, #FFC234),
						color-stop(1, #FAA11A)
					);
					background-image: -o-linear-gradient(bottom, #FFC234 0%, #FAA11A 100%);
					background-image: -moz-linear-gradient(bottom, #FFC234 0%, #FAA11A 100%);
					background-image: -webkit-linear-gradient(bottom, #FFC234 0%, #FAA11A 100%);
					background-image: -ms-linear-gradient(bottom, #FFC234 0%, #FAA11A 100%);
					background-image: linear-gradient(to bottom, #FFC234 0%, #FAA11A 100%);
					&:hover{
						background-image: -webkit-gradient(
							linear,
							left bottom,
							left top,
							color-stop(0.01, #FFC234),
							color-stop(0.63, #FAA11A)
						);
						background-image: -o-linear-gradient(top, #FFC234 1%, #FAA11A 63%);
						background-image: -moz-linear-gradient(top, #FFC234 1%, #FAA11A 63%);
						background-image: -webkit-linear-gradient(top, #FFC234 1%, #FAA11A 63%);
						background-image: -ms-linear-gradient(top, #FFC234 1%, #FAA11A 63%);
						background-image: linear-gradient(to top, #FFC234 1%, #FAA11A 63%);
					}
				}
			}
		}
	}
	main{
		overflow: auto;
		.pics{
			overflow: auto;
			width: 100%;
		    
		    background: url(images/background.png);
		    .pics_h2{
		    	text-align: center;
			    text-transform: uppercase;
			    color: $orange;
			    font-size: 25px;
			    margin-bottom: 10px;
			    .pics_h2_span{
			    	color: #fff;
			    }
		    }
		    .pics_img{
		    	margin: 0 7%;
			    width: 87%;
			    padding: 0;
		    	.pics_img_li{
		    		display: inline-block;
		    		width: 340px;
		    		background: url(images/schools.png) no-repeat;
		    		height: 177px;
		    		
		    		color: #fff;
		    		position: relative;
		    		p{
		    			position: absolute;
		    			top: 60%;
    					right: 5%;
    					text-align: end;
    					white-space: pre-wrap;
    					width: 57%;
    					font-size: 18px;
		    		}
		    	}

		    	a:nth-child(2){
		    		li{
		    			background: url(images/hotels.png) no-repeat;
		    			p{
		    				top: 70%;
		    			}
		    		}
		    	}
		    	a:nth-child(3){
		    		li{
		    			background: url(images/construction.png) no-repeat;
		    		}
		    	}
		    	a:nth-child(4){
		    		li{
		    			background: url(images/accomodation.png) no-repeat;
		    		}
		    	}
		    	a:nth-child(5){
		    		li{
		    			background: url(images/offices.png) no-repeat;
		    			p{
		    				top: 70%;
		    			}
		    		}
		    	}
		    	a:nth-child(6){
		    		li{
		    			background: url(images/design.png) no-repeat;
		    			p{
		    				width: 35%;
		    			}
		    		}
		    	}
		    	a:nth-child(7){
		    		li{
		    			background: url(images/reastaurants.png) no-repeat;
		    			margin-bottom: 0;
		    			p{
		    				top: 70%;
		    			}
		    		}
		    	}
		    	a:nth-child(8){
		    		li{
		    			background: url(images/saloon.png) no-repeat;
		    			margin-bottom: 0;
		    			p{
		    				top: 70%;
		    			}
		    		}
		    	}
		    	a:nth-child(9){
		    		li{
		    			background: url(images/reatail.png) no-repeat;
		    			margin-bottom: 0;
		    			p{
		    				top: 70%;
		    			}
		    		}
		    	}
		    }
		}
		section{
			overflow: auto;
			.dear{
				overflow: auto;
				width: 100%;
				background: url(images/background1.png) no-repeat;
				
				.dear_table{
					background: url(images/client.png) no-repeat;
					float: left;
					height: 296px;
					margin: 4% 0 2% 16%;
					width: 33%;

					.dear_table_wrap{
						background: url(images/window.png) no-repeat;
						position: relative;
						left: -15%;
    					top: 15%;
    					height: 170px;
    					width: 90%;
    					.dear_table_wrap_h3{
    						text-align: center;
						    padding-top: 5%;
						    text-transform: uppercase;
						    color: #adaeae;
						    margin-bottom: 0%;
						    .dear_table_wrap_span{
						    	color: #000;
						    }
    					}
    					.dear_table_wrap_text{
    						width: 79%;
						    text-align: center;
						    margin-left: 11%;
    					}
    					
						
					}
					#dear_tab_wrap{
						background: url(images/window1.png) no-repeat;
						left: 22%;
					}	
				}
				#dear_tab{
					background: url(images/supplier.png) no-repeat;
					margin-left: 2%
				}
			}
			.choice{
				margin: 1px 4% 5%;
				.choice_h2{
				    text-align: center;
					text-transform: uppercase;
					margin-top: 3%;
					.choice_h2_span{
						color: $grey;
					}
				}
				p{
					text-align: center;
					margin-bottom: 7%;
					span{
						color: $grey;
					}
				}
				.choice_cart{
					.choice_cart_form{
						display: inline-block;
						width: 33%;
						.choice_cart_form_round{
							width: 100px;
						    height: 100px;
						    float: left;
						    border: 1px solid $orange;
						    @include border-radius(50%);
						    &:hover{
						    	background: $orange;
						    }
						    
						    .choice_cart_form_round_img{
						    	margin: 18%;
						    }
						    #diversity{
						    	margin: 15%;
						    }
						    #choice_cart_form_img{
						    	margin: 29%;
						    }	
						}
						.choice_cart_form_approach{
							margin-top: 3%;
						}
						.choice_cart_form_h4{
						    margin: 11% 0 10% 38%;
						    border-left: 3px solid $grey;
						    padding-left: 6%;
						    font-size: 21px;

						}
						.choice_cart_form_approach{
							margin-bottom: -5%;
						}
						#choice_cart_form_process{
							margin-left: 40%;
    						margin-top: 32%;
						}
						.choice_cart_form_text{
							text-align: left;
    						margin-top: 20%;
						}
					}
				}
			}
		}
		.main_footer{
			overflow: auto;
			width: 100%;
		    background: url(images/background.png); 
		    .main_footer_h3{
		    	text-align: center;
		    	color: $grey;
		    	text-transform: uppercase;
		    	font-size: 24px;
		    }
		    .main_footer_h5{
		    	text-align: center;
		    	color: #fff;
		    }
		    .main_footer_contacts{
		    	float: left;
		    	margin-left: 15%;
		    	.main_footer_p{
		    		color: $grey;
		    		margin-bottom: 7%;
		    		.main_footer_p_span{
		    			color: #fff;
		    		}
		    		.main_footer_p_mail{
		    			color: #fff;
		    			&:hover{
		    				color: $orange;
		    			}
		    		}
		    	}
		    	.main_footer_t{
		    		color: #fff;
		    		margin-bottom: 7%;
		    	}
		    	.a{
		    		text-decoration: none;
			    	.main_footer_map{
			    		background: url(images/map.png) no-repeat;
			    		height: 137px;
			    		width: 480px;
			    		color: #fff;
	    				text-align: center;
	    				margin-bottom: 70px;
	    				text-transform: uppercase;
	    				font-size: 14px;
			    		.main_footer_point{
			    			margin-left: 329px;
    						margin-top: 14px;
			    		}
			    	}
			    }
		    }
		    .main_footer_form{
		    	.main_footer_form_text{
		    		width: 33%;
		    		
		    		margin-left: 7%;
		    		padding-bottom: 230px;
				    padding-top: 6px;
				    text-indent: 10px;
				    margin-bottom: 15px;
    				margin-top: 15px;
		    	}
		    	.main_footer_form_mail{
		    		width: 33%;
		    		height: 40px;
		    		margin-left: 7%;
		    		text-indent: 10px;
		    		margin-bottom: 20px;
		    	}
		    	.main_footer_form_submit{
		    		background: transparent;
		    		margin-left: 7%;
		    		width: 14%;
				    height: 40px;
				    color: #fff;
				    border: 2px solid #fff;
				    margin-top: 8px;
				    @include border-radius(2px);
				    &:hover{
				    	background: #fff;
				    	color: #000;
				    }
		    	}
		    	.main_footer_form_p{
		    		color: #adaeae;
		    		margin-left: 2%;
		    		font-size: 14px; 
		    		display: inline-block;
		    	}
		    }
		    .main_footer_foot{
		    	overflow: auto;
				width: 100%;
			    background: url(images/foot.png);
			    @include background-size(cover);
			    .main_footer_foot_h3{
			    	color: #fff;
			    	text-align: center;
			    	font-size: 24px;
			    	margin-top: 95px;
    				margin-bottom: 40px;
			    }
			    #main_footer_foot_btn{
			    	margin-left: 42%;
				    opacity: 0.9;
				    width: 16%;
				    height: 45px;
				    margin-bottom: 84px;
			    }
		    }
		}
	}
	.footer{
		overflow: auto;
		width: 100%;
		background: #5b5e5e;
		opacity: 0.9;
		.footer_img{
			float: left;
		    margin-left: 3%;
		    margin-top: 5%;
		    .footer_img_p{
		    	font-size: 12px;
    			color: #adafaf;
		    }
		}
		.footer_ul{
			float: left;
    		margin: 6% 0 2% 10%;
    		width: 34%;
    		position: relative;
    		z-index: 4;
    		.footer_ul_li{
    			display: inline-block;
    			color: #fff;
    			margin-right: 5%;

    		}
    		#footer_ul_partner{
    			border: 1px solid #fff;
    			@include border-radius(2px);
    			width: 140px;
			    text-align: center;
			    height: 25px;
			    padding-top: 10px;
			    text-transform: uppercase;
    			&:hover{
    				background: #fff;
    				color: transparent;
    			}
    		}
		}
		.footer_p{
			float: right;
		    margin-top: 4%;
		    margin-right: 2%;
		    color: #adafaf;
		    .footer_a{
		    	color: #fff;
		    }
		}
		.footer_social{
			float: right;
			width: 25%;
			.footer_social_li{
				display: inline-block;
				margin-right: 6%;
			}
			.footer_soc{
				text-transform: uppercase;
				color: #adafaf;
			}
			#facebook{
				
				background: url(images/facebook.png) no-repeat;
				width: 35px;
				height: 35px;
				&:hover{
					background-position: 0 -35px;
				}
				
			}
			#twitter{
				
				background: url(images/twitter.png) no-repeat;
				width: 35px;
				height: 35px;
				&:hover{
					background-position: 0 -36.5px;
				}
			
			}
			#insta{
			
				background: url(images/insta.png) no-repeat;
				width: 35px;
				height: 35px;
				&:hover{
					background-position: 0 -35px;
				}
				
			}
		}

	}
	.globe{
		background: url(images/globe.png) no-repeat;
		position: absolute;
		bottom: 0;
		left: 33%;
		width: 420px;
		height: 305px;
		z-index: 0;
		opacity: 0.4;
	}
}